---
import { basics, work, education } from '@/data/resume.json';
import About from '../sections/About.astro';
import Education from '../sections/Education.astro';
import Experience from '../sections/Experience.astro';
---

<main class="mx-auto max-w-2xl space-y-12">
  <About summary={basics.summary} />
  <Experience works={work} />
  <Education educations={education} />
</main>
