---
import { basics, work } from '@/data/resume.json';
import About from '../sections/About.astro';
import Experience from '../sections/Experience.astro';

const { summary } = basics;
---

<main class="mx-auto max-w-2xl space-y-12">
  <About {summary} />
  <Experience works={work} />
</main>
