---
import { cn } from '@/lib/utils';

interface Props {
  name: string;
  url?: string;
  class?: string;
}

const { name, url, class: className } = Astro.props;
---

<h4 class={cn('text-sm font-medium text-balance', className)}>
  {
    url ? (
      <a
        href={url}
        target="_blank"
        rel="noopener noreferrer"
        aria-label={`Visit ${name} website`}
        class="inline-flex underline-offset-4 hover:underline active:translate-y-px"
      >
        {name}
      </a>
    ) : (
      name
    )
  }
</h4>
