---
import { Font } from 'astro:assets';

import { basics } from '@/data/resume.json';
import '@/styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { name, summary } = basics;
const { title = name, description = summary } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full antialiased">
  <head>
    <Font cssVariable="--font-geist-sans" />
    <Font cssVariable="--font-geist-mono" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="flex min-h-full flex-col px-6 py-12 md:py-20">
    <slot />
  </body>
</html>
