---
import { cn } from '@/lib/utils';

interface Props {
  class?: string;
}
---

<p
  class={cn(
    'text-sm leading-relaxed text-pretty font-mono text-secondary-foreground/85',
    Astro.props.class
  )}
>
  <slot />
</p>
