---
import { cn } from '@/lib/utils';

interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<section class={cn('space-y-6', className)}>
  <h2 class="text-primary text-lg font-bold text-balance">{title}</h2>
  <slot />
</section>
